<%- include('includes/head.ejs', { title: 'Hostel '+ id}) %>
</head>

<body>
<%- include('includes/header.ejs') %>
<main style="text-align: center">
    <h1>Mess <%= id %> </h1>
</main>
</body>

</html>